.paymentPlansSection {
    background: $sameBlue;

    .title {
        text-align: center;

        h1 {
            font-size: $titleSize;
            color: $whiteLetters;
            padding-top: 100px;
            margin: 0;
        }

        hr {
            width: 5%;
            height: 2px;
            background-color: $sameGreen;
            border: none;
            margin-bottom: 30px;
        }

        p {
            font-size: $textSize;
            color: $whiteLetters;
            font-weight: normal;
        }
    }

    .paymentPlans {
        margin: auto 146px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        padding-bottom: 110px;
        margin-top: 80px;

        .payment {
            background: #333333;
            color: $whiteLetters;
            width: 343px;
            border-radius: 5px;

            h1 {
                font-size: 5.8rem;
                font-weight: normal;
                margin-bottom: 0;
                margin-top: 0;
            }

            h3 {
                font-size: $smallerTitle;
                font-weight: normal;
            }

            span {
                font-size: 2.2rem;
            }

            p {
                color: $greyTextColor;
                font-size: $textSize;
                margin: 0;
                padding: 11px;
            }

            .plans {
                background: white;
                color: $greyTextColor;
                line-height: 1.6rem;
                border-radius: 0px 0px 5px 5px;
            }

            .greenLinePlans {
                background: $sameGreen;
                width: 100%;
                height: 5px;
            }

            .greenLinePlansWide {
                width: 100%;
                height: 33px;
                background: $sameGreen;
                padding-top: 10px;
                color: $whiteLetters;
            }
        }
    }
    @media (max-width: 700px) {
        .paymentPlans {
            margin: 0;
            flex-direction: column;
            .payment {
                margin-top: 80px;
                width: 100%;
                border-radius: unset;
                .plans {
                    border-radius: unset;
                }
            }
        }
    }
}
