.mountainsBackground {
    background-image: url(/pictures/mountains.png),
        linear-gradient(to right bottom, rgba(226, 120, 102, 0.47), rgba(102, 150, 226, 0.47));
    background-repeat: no-repeat;
    color: $whiteLetters;
    background-size: cover;
    background-position: center;
    height: 595px;
    display: flex;
    justify-content: center;
    align-items: center;

    .gridContainer {
        display: flex;
        flex-direction: column;
    }

    .textPart {
        width: 520px;
        margin: 50px;
        h1 {
            font-size: $titleSize;
        }
        p {
            font-size: $textSize;
            line-height: $sameLineHeight;
            text-align: left;
            color: $whiteLetters;
        }
    }
    .tabButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        width: 110px;
        height: 110px;
        margin: 15px;
        border: none;
        background-color: $samePink;

        #tabDarkerColor {
            background: red;
        }
        span {
            color: $whiteLetters;
            transform: rotate(-50deg);
        }
    }

    img {
        width: 168px;
    }
    .large {
        width: 342px;
    }
}
