$samePink:#e27866;
$titleSize: 2.25rem;
$smallerTitle: 1.25rem;
$blackLetters: black;
$whiteLetters: white;
$greyTextColor: #86878B;
$sameBlue: #6696E2;
$sameGreen: #41d395;
$textSize: 0.9rem;
$sameLineHeight: 1.3rem;
